body, h1, h2, p, ul, li, a {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Nunito', Helvetica, Arial, sans-serif;
  color: #222;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

/* Superinfo */

.superinfo-bg {
  background: #122ab2;
  color: #fff;
}

.superinfo {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 10px;
}

.superinfo p, .superinfo a {
  margin: 0 10px 10px 10px;
}

.superinfo a {
  color: #fff;
}

/* Menu */

.menu-bg {
  background: #2c70ff;
}

.menu {
  max-width: 960px;
  margin: 0 auto;
  padding: 15px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.menu a {
  color: #fff;
}

.menu-logo a {
  font-size: 2.25em;
  font-weight: 700;
  margin: 0 10px;
}

.menu-nave ul {
  display: flex;
  flex-wrap: wrap;
}

.menu-nave a {
  font-size: 1.25em;
  display: block;
  padding: 10px;
  border-radius: 8px;
  border-bottom: 2px solid #2c70ff;
  transition: 0.2s;
}

.menu-nave a:hover {
  color: #122ab2;
  border-color: #122ab2;
}